body {
	background-color: #232323;
	margin: 0;
	font-family: "Arial";
}

h1,h2 {
	color: white;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: normal;
}

#container {
	width: 800px;
	margin: 0px auto;
}

.box {
	background: pink;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.8s;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	margin: 20px 0;
}

#displaymessage {
	display: inline-block;
	width: 20%;
}

.selected {
	background-color: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}